# Project exclude paths
/target/
*.iml
src/test/resources/QueenMillennia*
.idea
src/test/resources/dillermand*
dillermand*.ass
dillermand*.srt
/src/test/java/QueenMilleniaFixup.java
*-LE-Subs.srt
src/test/resources/qm/ep*eng.ass